{% extends 'base.html.twig' %}
{% block body %}
    <div class="p-4 text-center">
        <h2>Welcome</h2>
        <div>
            <a href="{{ path('app_question_show') }}">
                Go to Question <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
{% endblock %}